#outer-profile{
    display: flex;
    justify-content: center;
    border: 1px green solid;
}

#inner-profile{
    border: 1px red solid;
    padding: 1vh;
    width: 50%;
}

#container-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px blue solid;
    padding: 1vh;
    gap: 1vh;
}

#left-profile{
    border: 1px purple solid;
    width: 80%;
    height: 300px;
}
#right-profile{
    border: 1px orange solid;
    width: 20%;
    height: 300px;
}