#header-outer{
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    border: 1px white solid;
    background: #0A0E14;
    padding: 0px;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
/* dito din palitan ng # yung napalitan ng id */
#header-inner{
    border: 1px;
    padding: 2.5vh;
    width: 100%;
}

#header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px;
    padding: 0px;
}

.nav-link {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #991B1B;
}

.nav-link.active {
    color: #991B1B;
    border-bottom: 2px solid #991B1B;
}

#username-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    color: #DC2626;
    font-weight: bold;
}

#username-logo {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%; 
}

#nav-container {
    display: flex;
    align-items: center;
    gap: 5vh;
}