#header-outer{
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    border: 1px;
    background: rgba(0, 0, 0, 0.8);
    padding: 0px;
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
/* dito din palitan ng # yung napalitan ng id */
#header-inner{
    border: 1px;
    padding: 2.5vh;
    width: 100%;
}

#header-container{
    display: flex;
    gap: 5vh;
    justify-content: center;
    border: 1px;
    padding: 0px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #f31212;
}